*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    width: 100%;
    height: 100vh;
}

.navbar {
    width: 100%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content:center;
}

.logo{
    position: absolute;
    left: 120px;
    top: 30px;
}

.logo2{
    width: 50px;
    position: relative;
    right: 300px;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    font-family:sans-serif;
    position: relative;
    right:230px;
    bottom: 20px;
}

#connect-icon{
    position: relative;
    left: 400px;
    font-size: 50px;
}

.content{
    width: 80%;
    height: 70vh;
    margin-left: 150px;
}

.left{
    width: 50%;
    height: 70vh;
}

.hello-text{
    color: #666666;
    position: relative;
    left: 10px;
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.zafar-text{
    position: relative;
    left: 50px;
    top: 60px;
    font-size: 60px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 72px;
    color: #242327;
}

.future{
    position: relative;
    left: 50px;
    top: 90px;
    font-size: 20px;
    line-height: 31px;
}

.btn{
    width: 200px;
    height: 40px;
    border-radius: 50px;
    position: relative;
    top: 120px;
    left: 50px;
    border: none;
    background-color: #8643DC;
    cursor: pointer;
}

#angelist{
    position: absolute;
    top: 500px;
    font-size: 50px;
    left: 200px;
}

#safe{
    position: absolute;
    top: 500px;
    font-size: 50px;
    left:530px;
}

.prank{
    position: relative;
    top: 207px;
    left: 90px;
    color: coral;
    font-family: sans-serif;
}

.right{
    width: 50%;
    height: 70vh;
}

.right{
    background: url(user-image\ 1.png);
    background-size: cover;
}

/* second  page start */

.actually-page{
    width: 100%;
    height: 50vh;
}

.ish{
    color: #413131;
    font-family: sans-serif;
    position: absolute;
    left: 15px;
    top:780px;
    color: #8643DC;
}

.boxlar{
    width: 100%;
    height: 40vh;
    margin-top: 70px;
}

.box1{
    width: 300px;
    height: 300px;
    border: solid rgb(164, 150, 150);
}

.box1 h1{
    font-family: sans-serif;
    color: #645a71;
    text-align: center;
}

.box1 i{
    position: relative;
    bottom: 30px;
    left: 10px;
    font-size: 30px;
}

.box1 p{
    position: relative;
    left: 10px;
    right: 10px;
    font-size: 14px;
    font-family: sans-serif;
    width: 280px;
}

/* box2 */
.box2{
    width: 300px;
    height: 300px;
    border: solid rgb(164, 150, 150);
    margin-left: 300px;
}

.box2 h1{
    font-family: sans-serif;
    color: #645a71;
    text-align: center;
}

.box2 i{
    position: relative;
    bottom: 30px;
    left: 10px;
    font-size: 30px;
}

.box2 p{
    position: relative;
    left: 10px;
    right: 10px;
    font-size: 14px;
    font-family: sans-serif;
    width: 280px;
}

/* box3  */

.box3{
    width: 300px;
    height: 300px;
    border: solid rgb(164, 150, 150);
    margin-left: 300px;
}

.box3 h1{
    font-family: sans-serif;
    color: #645a71;
    text-align: center;
}

.box3 i{
    position: relative;
    bottom: 30px;
    left: 10px;
    font-size: 30px;
}

.box3 p{
    position: relative;
    left: 10px;
    right: 10px;
    font-size: 14px;
    font-family: sans-serif;
    width: 280px;
}

.dream{
    width: 100%;
    height: 55vh;
}

.client{
    margin-left: 10px;
    margin-top: 10px;
    color: #8643DC;
    font-family: sans-serif;
}

.order{
    width: 85%;
    height: 45vh;
    margin-left: 100px;
}

.quti1{
    width: 200px;
    height: 200px;
    border-radius: 15px;
    margin-top:60px;
    background-color: #FFE7F0;
}

.smack{
    display: block;
    margin: auto;
    margin-top: 10px;
    width: 80px;
}

.quti1 h1{
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    font-family: sans-serif;
}

/* 2-boshlandi */

.quti2{
    width: 200px;
    height: 200px;
    border-radius: 15px;
    margin-top:60px;
    background-color: #DDF5FF;
    margin-left: 300px;
}

.soft{
    display: block;
    margin: auto;
    margin-top: 10px;
    width: 80px;
}

.quti2 h1{
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    font-family: sans-serif;
}
/* 3-boshlandi */

.quti3{
    width: 200px;
    height: 200px;
    border-radius: 15px;
    margin-top:60px;
    background-color: #DBFFC3;
    margin-left: 300px;
}

.shop{
    display: block;
    margin: auto;
    margin-top: 10px;
    width: 80px;
}

.quti3 h1{
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    font-family: sans-serif;
}

.form{
    width: 100%;
    height: 50vh;
}

.lgn{
    text-align: center;
    font-size: 35px;
    margin-bottom: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif0;
}

.name{
    width: 70%;
    height: 50px;
    margin-top: 20px;
    display: block;
    margin: auto;
    font-size: 20px;
    -webkit-box-shadow: -2px 2px 8px 8px rgba(0, 144, 255, 0.2);
-moz-box-shadow: -2px 2px 8px 8px rgba(0, 144, 255, 0.2);
box-shadow: -2px 2px 8px 8px rgba(0, 144, 255, 0.2);
}

::placeholder{
    padding-left: 5px;
    font-family: sans-serif;
}

.code{
    width: 70%;
    height: 50px;
    margin-top: 80px;
    margin-left: 230px;
   font-size: 20px;
    -webkit-box-shadow: -2px 2px 8px 8px rgba(0, 144, 255, 0.2);
-moz-box-shadow: -2px 2px 8px 8px rgba(0, 144, 255, 0.2);
box-shadow: -2px 2px 8px 8px rgba(0, 144, 255, 0.2);
}

#login-za{
    position: relative;
    font-size: 50px;
    top: 50px;
    left: 175px;
}

#lock{
    position: absolute;
    font-size: 50px;
    top: 1873px;
    left: 175px;
}

.click{
    position: relative;
    top: 70px;
    right: 650px;
    width: 200px;
    height: 50px;
    border: none;
    background-color: seagreen;
    border-radius: 25px;
    bottom: 20px;
    cursor: pointer;
}

/* tugadi shunchaki tugadi */